<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog // Rob McLarty</title>
  <link href="stylesheets/blog.css" media="all" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>
